[UI]
stretch_factor1=1
stretch_factor2=1
desktop_width_ratio=0.9
desktop_height_ratio=0.9

[VM_CONFIG]
dbname=test.db
status_table=vm_status
username=administrator
status_query_xml=taskmgr.rox
psnr_xml=showtestpattern.rox
psnr_picture=testpattern.bmp
disconnectrdp_xml=disconrdp.rox
filetransfer_xml=fileupload.rox
snapshot_default_type=RDP
snapshot_width=1920
snapshot_height=1080
remote_desktop_width=1920
remote_desktop_height=1080
snapshot_pic_type=jpg
linux_rdp_snapshot_path=/usr/bin/rdpy-rdpscreenshot.py
win_rdp_snapshot_path=c:/python27/scripts/rdpy-rdpscreenshot.py
linux_vnc_snapshot_path=/usr/bin/rdpy-vncscreenshot.py
win_vnc_snapshot_path=c:/python27/scripts/rdpy-vncscreenshot.py
remote_desktop_default_type=RDP
linux_remotedesktop_path=/usr/bin/rdpy-rdpclient.py
win_remotedesktop_path=c:/python27/scripts/rdpy-rdpclient.py
linux_vnc_path=/usr/bin/rdpy-vncclient.py
win_vnc_path=c:/python27/scripts/rdpy-vncclient.py
default_icon_name=default.jpg
vm_status_query_interval=60000
process_listfile_name=plist.txt
ip_listfile_name=vm_ip.txt
